<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Crime, justice and the law</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="#">Courts, sentencing and tribunals</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Make a plea</li>
    </ol>
</div>
