<div id="test-data">
    <p class="govuk-body secondary-text m-bottom-0">Charge 1 plea: <span id="plea-charge-1">{{ data['charge-1-plea'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0">Charge 2 plea: <span id="plea-charge-2">{{ data['charge-2-plea'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0">Charge 3 plea: <span id="plea-charge-3">{{ data['charge-3-plea'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0">For guilty pleas - come to court? <span id="guilty-come-to-court">{{ data['come-to-court'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0">Plea counter: {{ data['plea-counter'] }}</p>
    <p class="govuk-body secondary-text m-bottom-0">More expenses info: <span id="more-expenses-info">{{ data['more-expenses'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0">Income frequency: <span id="income-frequency-info">{{ data['income-frequency'] }}</span></p>
    <p class="govuk-body secondary-text">Claiming benefits: <span id="claiming-benefits-question">{{ data['claiming-benefits'] }}</span></p>
</div>