<style>
    #validation-data p {
        color: forestgreen;
        font-size: 12px;
    }
    #validation-data hr {
        border-color: forestgreen;
    }
    #validation-data {
        display: block;
    }
</style>
<div id="validation-data">
    
    <p class="govuk-body secondary-text m-bottom-0"><strong>Validation check query:</strong> <span id="validation-check-query">{{ data['validation-check'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>email 1 query:</strong> <span id="email-1-query">{{ data['email-1-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>dob query:</strong> <span id="dob-query">{{ data['dob-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>Guilty plea court query:</strong> <span id="guilty-plea-court-query">{{ data['guilty-plea-court-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>Deduct from earnings query:</strong> <span id="deduct-from-earnings-query">{{ data['deduct-from-earnings-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>Give outgoings details query:</strong> <span id="give-outgoing-details-query">{{ data['give-outgoing-details-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>Declaration query:</strong> <span id="declaration-query">{{ data['declaration-query'] }}</span></p>
    <p class="govuk-body secondary-text m-bottom-0"><strong>Not guilty plea query:</strong> <span id="not-guilty-plea-query">{{ data['not-guilty-plea-query'] }}</span></p>
        
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
</div>