
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Online plea design prototype
            <span class="govuk-caption-xl m-top-10">Multiple offences</span>  
            <span class="govuk-caption-m m-top-10">Using GOV.UK prototype kit: {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <h2 class="govuk-heading-m">About this design prototype</h2>

        <p class="govuk-body">This prototype is a work in progress and not ready for user testing at the moment.</p>

        <p class="govuk-body">At any point in the prototype you can click on the service name in the global header to clear the data and return to this page.</p>

        <form action="" method="post">
            <div class="govuk-form-group m-top-30">
                <button type="submit" class="govuk-button govuk-button--start">
                    Start the prototype
                </button>
            </div>
        </form>
        
    </div>
</div>

{% endblock %}
