
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Online plea design prototype
            <span class="govuk-caption-xl m-top-10">Multiple offences</span>  
            <span class="govuk-caption-m m-top-10">Using GOV.UK prototype kit: {{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <div class="govuk-warning-text m-top-60">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text red-text">
                <span class="govuk-warning-text__assistive">Warning</span>
                When there is a mix of pleas the correct data may not be displayed on the check your answers page 
            </strong>
        </div>
        
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <!-- ABOUT THIS DESIGN PROTOTYPE -->
        <div>
            
            <h2 class="govuk-heading-m">About this design prototype</h2>

            <p class="govuk-body">At any point in the prototype you can click on the service name in the global header to clear the data and return to this page.</p>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            
        </div>

        <!-- FIND YOUR CASE -->
        <div>
            <p class="govuk-heading-m">Find your case</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list">
                <li>
                    <strong>Case or Unique Reference Number</strong>: enter anything
                </li>
                <li>
                    <strong>Your postcode, as shown on your notice</strong>: enter anything
                </li>
            </ul>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR DETAILS - CHECK YOUR NAME AND ADDRESS -->
        <div>
            <p class="govuk-heading-m">Your details - Check your name and address</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR DETAILS - CHANGES TO YOUR NAME AND ADDRESS -->
        <div>
            <p class="govuk-heading-m">Your details - Changes to your name and address</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list brown-text">
                <li>
                    <strong>Form validation</strong>: Not applicable
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR DETAILS - CHANGES TO YOUR NAME AND ADDRESS -->
        <div>
            <p class="govuk-heading-m">Your details - Enter other details</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR DETAILS - CHANGES TO YOUR NAME AND ADDRESS -->
        <div>
            <p class="govuk-heading-m">Your details - Driving license number</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR PLEA -->
        <div>
            <p class="govuk-heading-m">Your plea</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list red-text">
                <li>
                    <strong>Form validation</strong>: Not implemented
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- GUILTY PLEA -->
        <div>
            <p class="govuk-heading-m">Guily plea</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- GUILTY PLEA - COMING TO COURT -->
        <div>
            <p class="govuk-heading-m">Guily plea - coming to court</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list brown-text">
                <li>
                    <strong>Form validation</strong>: Not applicable
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- NOT GUILTY PLEA -->
        <div>
            <p class="govuk-heading-m">No guily plea</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR COURT HEARING -->
        <div>
            <p class="govuk-heading-m">Your court hearing</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list red-text">
                <li>
                    <strong>Form validation</strong>: Not implemented
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR FINANCES -->
        <div>
            <p class="govuk-heading-m">Your finances</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list red-text">
                <li>
                    <strong>Form validation</strong>: Not implemented
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR INCOME -->
        <div>
            <p class="govuk-heading-m">Your income</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list red-text">
                <li>
                    <strong>Form validation</strong>: Not implemented
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- DEDUCTIONS FROM EARNING -->
        <div>
            <p class="govuk-heading-m">Deductions from earnings</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR EMPLOYMENT -->
        <div>
            <p class="govuk-heading-m">Your employement</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR BENEFITS -->
        <div>
            <p class="govuk-heading-m">Your benefits</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR OUTGOINGS -->
        <div>
            <p class="govuk-heading-m">Your outgoings</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- YOUR MONTHLY OUTGOINGS -->
        <div>
            <p class="govuk-heading-m">Your monthly outgoings</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list brown-text">
                <li>
                    <strong>Form validation</strong>: Not applicable
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- CHECK YOUR ANSWERS -->
        <div>
            <p class="govuk-heading-m m-bottom-5">Check your answers</p>
            <div class="govuk-warning-text m-top-0 m-bottom-5">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text red-text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    This page needs further testing as it's does not always display the correct content for mixed pleas 
                </strong>
            </div>
            <ul class="govuk-list brown-text">
                <li>
                    <strong>Form validation</strong>: Not applicable
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- DECLARATION -->
        <div>
            <p class="govuk-heading-m">Declaration</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list green-text">
                <li>
                    <strong>Form validation</strong>: Working
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <!-- CONFIRMATION -->
        <div>
            <p class="govuk-heading-m">Confirmation</p>
            <p>This page is fully functional.</p>
            <ul class="govuk-list brown-text">
                <li>
                    <strong>Form validation</strong>: Not applicable
                </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>

        <form action="" method="post">
            <div class="govuk-form-group m-top-60">
                <button type="submit" class="govuk-button govuk-button--start">
                    Start the prototype
                </button>
            </div>
        </form>
        
    </div>
</div>

{% endblock %}
