
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT - BANNER -->
    <div class="govuk-grid-column-full">
        
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-!-font-size-36 m-top-0">
                You've submitted your plea
            </h1>
            <p class="govuk-!-font-size-19 m-bottom-0 white-text">
                <strong>
                    Case reference
                </strong>
            </p>
            <p class="govuk-!-font-size-24 m-top-0 white-text">
                <strong>
                    HDJ2123F
                </strong>
            </p>
            <p class="govuk-!-font-size-19 white-text m-bottom-0">
                <strong>
                    Make a record of this in case you need to contact us
                </strong>
            </p>
        </div>
        
    </div>
        
     <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
       <h2 class="govuk-heading-m m-top-30">Get a copy of your plea</h2>
        
        <p class="govuk-body"><a href="#">Download a copy of you plea</a> now. You can’t do this later.</p>
        
       <h2 class="govuk-heading-m m-top-30">What happens next?</h2>
        
        <p class="govuk-body">You’ll get an email confirming you’ve submitted your plea.</p>

        <p class="govuk-body">Your case will then be reviewed and you’ll get a letter about it within 28 days.</p>

        <p class="govuk-body m-bottom-5">The letter will tell you if you need to pay a fine or go to court.</p>
                
        <h2 class="govuk-heading-m m-top-30">Further help</h2>
        
        <p class="govuk-body">Call us if you need help with this online service or the court process.</p>
        
        <p class="govuk-body m-bottom-0"><strong>Online plea service</strong></p>
        <p class="m-bottom-0">Telephone: 0300 303 0656</p>
        <p class="m-bottom-0">Monday to Friday 8am to 8pm</p>
        <p class="m-bottom-0">Saturday 8am to 2pm</p>
        <p class="m-bottom-30"><a href="#">Find out about call charges</a></p>
        
        <form action="" method="post">
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Finish
                </button>
            </div>
        </form>
        
    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third m-top-30">
    </div>

</div>

{% endblock %}
