
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        /* ********** */
        /* PLEA CHECK */
        var plea_charge_1 = document.getElementById('plea-charge-1').innerHTML;
        var plea_charge_2 = document.getElementById('plea-charge-2').innerHTML;
        var plea_charge_3 = document.getElementById('plea-charge-3').innerHTML;
        
        if (plea_charge_1 == "Not guilty") {
            document.getElementById('plea-1-header').style.display = "inline";
        } else if (plea_charge_1 == "Guilty") {
            document.getElementById('plea-1-header').style.display = "none";
        }
        
        if (plea_charge_2 == "Not guilty") {
            document.getElementById('plea-2-header').style.display = "inline";
        } else if (plea_charge_2 == "Guilty") {
            document.getElementById('plea-2-header').style.display = "none";
        }
        
        if (plea_charge_3 == "Not guilty") {
            document.getElementById('plea-3-header').style.display = "inline";
        } else if (plea_charge_3 == "Guilty") {
            document.getElementById('plea-3-header').style.display = "none";
        }

        /* **************** */
        /* **************** */
        /* **************** */
        /* ERROR VALIDATION */
        var not_guilty_plea_query = document.getElementById('not-guilty-plea-query').innerText;
        if (not_guilty_plea_query == "error") {
            document.getElementById('govuk-error-summary').style.display = "block";
            document.getElementById('not-guilty-plea-error-message').style.display = "block";
            
            document.getElementById('not-guilty-plea-group').classList.add('govuk-form-group--error');
            
        } else if (not_guilty_plea_query == "") {
            document.getElementById('govuk-error-summary').style.display = "none";
            document.getElementById('not-guilty-plea-error-message').style.display = "none";
            
            document.getElementById('not-guilty-plea-group').classList.remove('govuk-form-group--error');

        }
        
    }
</script>

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/test_data.html" %}
        {% include "includes/validation_check.html" %}
        
        <!-- ERROR SUMMARY -->
        <div id="govuk-error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                Fix the following
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="URN-error" class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#come-to-court-group">Why do you believe you are not guilty of these charges?</a>
                    </li>
                </ul>
            </div>
        </div>

        
        <div id="plea-1-header">
           <h2 class="govuk-heading-m m-bottom-0">
                Charge 1 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-1-title']}}
                </strong>
            </p>
        </div>

        <div id="plea-2-header">
           <h2 class="govuk-heading-m m-bottom-0">
                Charge 2 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-2-title']}}
                </strong>
            </p>
        </div>

        <div id="plea-3-header">
            <h2 class="govuk-heading-m m-bottom-0">
                Charge 3 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-3-title']}}
                </strong>
            </p>
        </div>

        <h1 class="govuk-heading-xl m-top-30 m-bottom-30">
            Not guilty plea
        </h1>
        
        <p class="govuk-body">Provide information for magistrates ahead of your court hearing.</p>
        
        <form action="" method="post">
            
            <div id="not-guilty-plea-group" class="govuk-form-group">
                <label class="govuk-label" for="mitigation-not-guilty">
                    <strong>Why do you believe you are not guilty of these charges?</strong>
                </label>
                
                <!-- ERROR MESSAGE -->
                <span id="not-guilty-plea-error-message" class="govuk-error-message m-bottom-5">
                    <span class="govuk-visually-hidden">Error:</span> Provide this information
                </span>

                <textarea class="govuk-textarea" id="mitigation-not-guilty" name="mitigation-not-guilty" rows="5" aria-describedby="mitigation-not-guilty-hint">{{ data['mitigation-not-guilty'] }}</textarea>
            </div>            

            {% include "includes/continue_with_back.html" %}
        </form>
        
    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third">
      {% include "includes/map_help_and_advice.html" %}
      {% include "includes/map_help_and_advice_contact_the_prosecutor.html" %}
      {% include "includes/map_help_and_advice_legal_advice.html" %}
      {% include "includes/map_help_and_advice_more_help.html" %}
    </div>

</div>

{% endblock %}
