
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        /* ********** */
        /* PLEA CHECK */
        var plea_charge_1 = document.getElementById('plea-charge-1').innerHTML;
        var plea_charge_2 = document.getElementById('plea-charge-2').innerHTML;
        var plea_charge_3 = document.getElementById('plea-charge-3').innerHTML;
        
        if (plea_charge_1 == "Not guilty") {
            document.getElementById('plea-1-header').style.display = "inline";
        } else if (plea_charge_1 == "Guilty") {
            document.getElementById('plea-1-header').style.display = "none";
        }
        
        if (plea_charge_2 == "Not guilty") {
            document.getElementById('plea-2-header').style.display = "inline";
        } else if (plea_charge_2 == "Guilty") {
            document.getElementById('plea-2-header').style.display = "none";
        }
        
        if (plea_charge_3 == "Not guilty") {
            document.getElementById('plea-3-header').style.display = "inline";
        } else if (plea_charge_3 == "Guilty") {
            document.getElementById('plea-3-header').style.display = "none";
        }
        
    }
</script>

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/test_data.html" %}
        
        <div id="plea-1-header">
           <h2 class="govuk-heading-m m-bottom-0">
                Charge 1 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-1-title']}}
                </strong>
            </p>
        </div>

        <div id="plea-2-header">
           <h2 class="govuk-heading-m m-bottom-0">
                Charge 2 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-2-title']}}
                </strong>
            </p>
        </div>

        <div id="plea-3-header">
            <h2 class="govuk-heading-m m-bottom-0">
                Charge 3 of 3
            </h2>
            <p class="govuk-body">
                <strong>
                    {{data['charge-3-title']}}
                </strong>
            </p>
        </div>

        <h1 class="govuk-heading-xl m-top-30 m-bottom-30">
            Not guilty plea
        </h1>
        
        <p class="govuk-body">Provide information for magistrates ahead of your court hearing.</p>
        
        <form action="" method="post">
            
            <div class="govuk-form-group">
                <label class="govuk-label" for="mitigation-not-guilty">
                    <strong>Why do you believe you are not guilty of these charges?</strong>
                </label>
                <textarea class="govuk-textarea" id="mitigation-not-guilty" name="mitigation-not-guilty" rows="5" aria-describedby="mitigation-not-guilty-hint">{{ data['mitigation-not-guilty'] }}</textarea>
            </div>            

            {% include "includes/continue_with_back.html" %}
        </form>
        
    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third">
      {% include "includes/map_help_and_advice.html" %}
      {% include "includes/map_help_and_advice_contact_the_prosecutor.html" %}
      {% include "includes/map_help_and_advice_legal_advice.html" %}
      {% include "includes/map_help_and_advice_more_help.html" %}
    </div>

</div>

{% endblock %}
