
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<script>
    window.onload = function() {
        
        /* ************* */
        /* ************* */
        /* ************* */
        /* ADDRESS CHECK */
        var defendantAddressLine1 = document.getElementById('defendant-address-line-1').innerHTML;
        var defendantAddressLine2 = document.getElementById('defendant-address-line-2').innerHTML;
        var defendantAddressLine3 = document.getElementById('defendant-address-line-3').innerHTML;
        var defendantAddressLine4 = document.getElementById('defendant-address-line-4').innerHTML;
        var defendantAddressPostcode = document.getElementById('defendant-address-postcode').innerHTML;
        
        if (defendantAddressLine1 == "<br>") {
            document.getElementById('defendant-address-line-1').style.display = "none"
        }
        if (defendantAddressLine2 == "<br>") {
            document.getElementById('defendant-address-line-2').style.display = "none"
        }
        if (defendantAddressLine3 == "<br>") {
            document.getElementById('defendant-address-line-3').style.display = "none"
        }
        if (defendantAddressLine4 == "<br>") {
            document.getElementById('defendant-address-line-4').style.display = "none"
        }
        
        /* ************************************************************* */
        /* ************************************************************* */
        /* ************************************************************* */
        /* ERROR VALIDATION - ALSO SEE ROUTES & VALIDATION CHECK INCLUDE */
        var validation_check_query = document.getElementById('validation-check-query').innerText;
        var email_1_query = document.getElementById('email-1-query').innerText;
        var dob_query = document.getElementById('dob-query').innerText;
        
        if (validation_check_query == "Are these details correct error") {
            document.getElementById('are-these-details-correct-error').style.display = "block";
            
            document.getElementById('are-these-details-correct-error-message').style.display = "block";
            document.getElementById('are-these-details-correct-group').classList.add('govuk-form-group--error');
            
        } else {
            document.getElementById('are-these-details-correct-error').style.display = "none";
            
            document.getElementById('are-these-details-correct-error-message').style.display = "none";
            document.getElementById('are-these-details-correct-group').classList.remove('govuk-form-group--error');
            
        }
        
        if (validation_check_query == "") {
            document.getElementById('govuk-error-summary').style.display = "none";
        } else {
            document.getElementById('govuk-error-summary').style.display = "block";
        }
        
    }
</script>

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
        {% include "includes/test_data.html" %}
        {% include "includes/validation_check.html" %}

        <!-- ERROR SUMMARY -->
        <div id="govuk-error-summary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                Fix the following
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="are-these-details-correct-error" class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#details-correct-group">Are these details correct?</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <h1 class="govuk-heading-xl">
            Check your name and address
        </h1>
                
        <div class="govuk-inset-text m-top-0">
            <strong>{{data['defendant-first-name']}} <span style="text-transform: uppercase">{{data['defendant-last-name']}}</span></strong><br>
            <span id="defendant-address-line-1">{{data['defendant-address-line-1']}}<br></span>
            <span id="defendant-address-line-2">{{data['defendant-address-line-2']}}<br></span>
            <span id="defendant-address-line-3">{{data['defendant-address-line-3']}}<br></span>
            <span id="defendant-address-line-4">{{data['defendant-address-line-4']}}<br></span>
            <span id="defendant-address-postcode">{{data['defendant-address-postcode']}}</span>
        </div>
                
        <form action="" method="post">
            
            <!-- -------------------------- -->
            <!-- -------------------------- -->
            <!-- -------------------------- -->
            <!-- ARE THESE DETAILS CORRECT? -->
            <fieldset id="details-correct-group" class="govuk-fieldset m-bottom-30" aria-describedby="are-these-details-correct-conditional-hint">
                
                <h3 class="govuk-heading-s m-bottom-15">Are these details correct?</h3>
                
                <div id="are-these-details-correct-group" class="govuk-radios govuk-radios--conditional" data-module="radios">
                    
                    <!-- ERROR MESSAGE -->
                    <span id="are-these-details-correct-error-message" class="govuk-error-message m-bottom-5">
                        <span class="govuk-visually-hidden">Error:</span> Choose an answer
                    </span>

                    <!-- --- -->
                    <!-- --- -->
                    <!-- --- -->
                    <!-- YES -->
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="are-these-details-correct-1" name="are-these-details-correct" type="radio" value="Yes" {{ checked('are-these-details-correct','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="are-these-details-correct-1">
                            Yes
                        </label>
                    </div>
                    
                    <!-- -- -->
                    <!-- -- -->
                    <!-- -- -->
                    <!-- NO -->
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="are-these-details-correct-2" name="are-these-details-correct" type="radio" value="No" {{ checked('are-these-details-correct','No') }}>
                        <label class="govuk-label govuk-radios__label" for="are-these-details-correct-2">
                            No
                        </label>
                    </div>
                    
                </div>

            </fieldset>
            
                        
            {% include "includes/continue_with_back.html" %}
        </form>

    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third">
      {% include "includes/map_help_and_advice.html" %}
      <!--{% include "includes/map_help_and_advice_contact_the_prosecutor.html" %}
      {% include "includes/map_help_and_advice_legal_advice.html" %}-->
      {% include "includes/map_help_and_advice_more_help.html" %}
    </div>

</div>

{% endblock %}
