
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Your court hearing
        </h1>
        
        <form action="" method="post">
            
            <!-- VARIATION 1 - WHEN ALL PLEAS ARE FOR ‘NOT GUILTY’ ONLY OR A COMBINATION OF ‘NOT GUILTY’ AND ‘GUILTY, I WANT TO COME TO COURT’ -->
            <div class="" id="" style="">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="speak-welsh-hint">
                        <h1 class="govuk-heading-s m-bottom-15">
                            If there is a court hearing in Wales do you wish to speak Welsh?
                        </h1>
                        <div class="govuk-radios govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="speak-welsh-1" name="speak-welsh" type="radio" value="Yes" {{ checked('speak-welsh','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="speak-welsh-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="speak-welsh-2" name="speak-welsh" type="radio" value="No" {{ checked('speak-welsh','No') }}>
                                <label class="govuk-label govuk-radios__label" for="speak-welsh-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="court-interpreter-hint">
                        <h1 class="govuk-heading-s m-bottom-15">
                            For other languages do you need an interpreter in court?
                        </h1>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="court-interpreter-1" name="court-interpreter" type="radio" value="Yes" data-aria-controls="conditional-court-interpreter-1" {{ checked('court-interpreter','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="court-interpreter-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-court-interpreter-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="court-interpreter-language">
                                        Which language?
                                    </label>
                                    <p class="govuk-body secondary-text">
                                        You can include sign language
                                    </p>
                                    <input class="govuk-input govuk-!-width-one-half" id="court-interpreter-language" name="court-interpreter-language" type="text">
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="court-interpreter-2" name="court-interpreter" type="radio" value="No" {{ checked('court-interpreter','No') }}>
                                <label class="govuk-label govuk-radios__label" for="court-interpreter-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="prosecution-witness-hint">
                        <h1 class="govuk-heading-m m-bottom-15">
                            Prosecution witness
                        </h1>
                        <h2 class="govuk-heading-s m-bottom-15">
                            Are there any prosecution witnesses you want to attend?
                        </h2>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="prosecution-witness-1" name="prosecution-witness" type="radio" value="Yes" data-aria-controls="conditional-prosecution-witness-1" {{ checked('prosecution-witness','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="prosecution-witness-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-prosecution-witness-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="prosecution-witness-details">
                                        Enter their name (if known) and why you want them  to attend
                                    </label>
                                    <textarea class="govuk-textarea" id="prosecution-witness-details" name="prosecution-witness-details" rows="5" aria-describedby="prosecution-witness-details-hint"></textarea>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="prosecution-witness-2" name="prosecution-witness" type="radio" value="No" {{ checked('prosecution-witness','No') }}>
                                <label class="govuk-label govuk-radios__label" for="prosecution-witness-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="your-witness-hint">
                        <h1 class="govuk-heading-m m-bottom-15">
                            Your witness
                        </h1>
                        <h2 class="govuk-heading-s m-bottom-15">
                            Do you want to bring your own witness?
                        </h2>
                        <p class="govuk-body secondary-text">
                            Someone who can give evidence in court supporting your case
                        </p>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="your-witness-1" name="your-witness" type="radio" value="Yes" data-aria-controls="conditional-your-witness-1" {{ checked('your-witness','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="your-witness-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-your-witness-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="your-witness-details">
                                        Enter the name and address of your witness and their age and date of birth if known
                                    </label>
                                    <textarea class="govuk-textarea" id="more-detail" name="your-witness-details" rows="5" aria-describedby="your-witness-details-hint"></textarea>
                                </div>
                                <p class="govuk-body secondary-text">
                                    If your witness needs an interpreter then you will need to arrange this.
                                </p>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="interpreter-2" name="interpreter" type="radio" value="No" {{ checked('your-witness','No') }}>
                                <label class="govuk-label govuk-radios__label" for="interpreter-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="dates-to-avoid-hint">
                        <h1 class="govuk-heading-m m-bottom-15">
                            Attending court
                        </h1>
                        <h2 class="govuk-heading-s m-bottom-15">
                            Are there any dates you or your witness can not attend court?
                        </h2>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="dates-to-avoid-1" name="dates-to-avoid" type="radio" value="Yes" data-aria-controls="conditional-dates-to-avoid-1" {{ checked('dates-to-avoid','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="dates-to-avoid-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dates-to-avoid-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="dates-to-avoid-details">
                                        Are there any dates you or your witness can not attend court?
                                    </label>
                                    <textarea class="govuk-textarea" id="dates-to-avoid-details" name="more-detail" rows="5" aria-describedby="dates-to-avoid-details-hint"></textarea>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="dates-to-avoid-2" name="dates-to-avoid" type="radio" value="No" {{ checked('dates-to-avoid','No') }}>
                                <label class="govuk-label govuk-radios__label" for="dates-to-avoid-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            
            
            </div>
            
            
            
            
            
            
            
            
            
            <!-- VARIATION 2 - WHEN ALL PLEAS ARE ‘GUILTY, I WANT TO COME TO COURT’ ONLY’ -->
            <div class="" id="" style="">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="speak-welsh-b-hint">
                        <h1 class="govuk-heading-s m-bottom-15">
                            If there is a court hearing in Wales do you wish to speak Welsh?
                        </h1>
                        <div class="govuk-radios govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="speak-welsh-b-1" name="speak-welsh-b" type="radio" value="Yes" {{ checked('speak-welsh-b','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="speak-welsh-b-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="speak-welsh-b-2" name="speak-welsh-b" type="radio" value="No" {{ checked('speak-welsh-b','No') }}>
                                <label class="govuk-label govuk-radios__label" for="speak-welsh-b-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="court-interpreter-b-hint">
                        <h1 class="govuk-heading-s m-bottom-15">
                            For other languages do you need an interpreter in court?
                        </h1>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="court-interpreter-b-1" name="court-interpreter-b" type="radio" value="Yes" data-aria-controls="conditional-court-interpreter-1" {{ checked('court-interpreter','Yes') }}>
                                <label class="govuk-label govuk-radios__label" for="court-interpreter-b-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-court-interpreter-b-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="court-interpreter-b-language">
                                        Which language?
                                    </label>
                                    <p class="govuk-body secondary-text">
                                        You can include sign language
                                    </p>
                                    <input class="govuk-input govuk-!-width-one-half" id="court-interpreter-b-language" name="court-interpreter-b-language" type="text">
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="court-interpreter-b-2" name="court-interpreter-b" type="radio" value="No" {{ checked('court-interpreter-b','No') }}>
                                <label class="govuk-label govuk-radios__label" for="court-interpreter-b-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>            

            </div>
            
            
            
            
            
            {% include "includes/continue_with_back.html" %}
        </form>
        
    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third">
      {% include "includes/map_help_and_advice.html" %}
      {% include "includes/map_help_and_advice_contact_the_prosecutor.html" %}
      {% include "includes/map_help_and_advice_legal_advice.html" %}
      {% include "includes/map_help_and_advice_more_help.html" %}
    </div>

</div>

{% endblock %}
