
{% extends "layout.html" %}

{% block pageTitle %}
  Online plea design prototype
{% endblock %}

{% block beforeContent %}
  {% include "includes/map_breadcrumbs_2.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    
    <!-- MAIN CONTENT -->
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">
            Your benefits
        </h1>
        
        <form action="" method="post">
            
            <fieldset class="govuk-fieldset" aria-describedby="deduct-from-benefits-hint">
                <h2 class="govuk-heading-s">
                    If you need to pay a penalty, would you like us to deduct it from your benefits?
                </h2>
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="deduct-from-benefits-1" name="deduct-from-benefits" type="radio" value="Yes" {{ checked('deduct-from-benefits','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="deduct-from-benefits-1">
                            Yes
                        </label>
                    </div>
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="deduct-from-benefits-2" name="deduct-from-benefits" type="radio" value="No" data-aria-controls="conditional-deduct-from-benefits-2" {{ checked('deduct-from-benefits','No') }}>
                        <label class="govuk-label govuk-radios__label" for="howdeduct-from-benefits-2">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deduct-from-benefits-2">
                            <p class="govuk-body m-bottom-5">Please note we can deduct without your agreement if:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>you’ve failed to pay a penalty in the past</li>
                            <li>the court orders you to pay compensation</li>
                        </ul>
                    </div>
                    
                </div>
            </fieldset>
            
            <div class="m-top-30">
                {% include "includes/continue_with_back.html" %}
            </div>
            
        </form>
        
    </div>
    
    <!-- RIGHT COLUMN CONTENT -->
    <div class="govuk-grid-column-one-third">
      {% include "includes/map_help_and_advice.html" %}
      <!--{% include "includes/map_help_and_advice_contact_the_prosecutor.html" %}
      {% include "includes/map_help_and_advice_legal_advice.html" %}-->
      {% include "includes/map_help_and_advice_more_help.html" %}
    </div>

</div>

{% endblock %}
